<div class="bg-white p-8 rounded-lg shadow-lg w-1/4 mx-5">
    <h2 class="text-2xl font-bold mb-6">Add a note about {{contact.first_name}} </h2>
    <form 
    hx-post="{% url 'x_contact_div_note' contact.id%}" 
    hx-target="#all" 
    hx-trigger="submit"
    hx-swap="outerHTML"
    >
        {% csrf_token %}
        <div>
            <!-- Send {{contact.name}} an sms -->
        </div>
        <select
        name="type"
        class="block w-full mt-1 rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            <option value="general">General</option>
            <option value="instruction">Instruction</option>
        </select>
        <textarea
        id="note-text-area"
        name = "note_body"
        class="form-textarea block w-full mt-5 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        rows="20"
        placeholder="add a note"
        ></textarea>

          

        <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Add note</button>

    </form>


</div>